<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chdzq.system.repository.dao.SystemRoleMapper">

    <select id="selectIdByCode" resultType="long">
        SELECT
            t1.id
        FROM sys_role t1
        WHERE
           t1.code = #{code}
    </select>

    <select id="selectIdByName" resultType="long">
        SELECT
            t1.id
        FROM sys_role t1
        WHERE
            t1.name = #{name}
    </select>

    <select id="queryPageList" resultType="org.chdzq.system.repository.po.SystemRoleDO">
        SELECT
            t1.id,
            t1.name,
            t1.code,
            t1.sort,
            t1.status,
            t1.created_time
        FROM
        sys_role t1
        <where>
            <if test='param.status!=null'>
                AND t1.status = #{param.status}
            </if>

            <if test='param.code !=null'>
                AND t1.code = #{param.code}
            </if>

            <if test='param.name!=null and param.name.trim() neq ""'>
                AND t1.name LIKE CONCAT('%',#{param.name},'%')
            </if>
        </where>
    </select>

    <select id="selectListByQuery" resultType="org.chdzq.system.repository.po.SystemRoleDO">
        SELECT
        t1.id,
        t1.name,
        t1.code,
        t1.sort,
        t1.status,
        t1.created_time
        FROM
        sys_role t1
        <where>
            t1.status = 1
            <if test='param.keyword!=null and param.keyword.trim() neq ""'>
                AND (
                    t1.name LIKE CONCAT('%',#{param.keyword},'%')
                    OR
                    t1.code LIKE CONCAT('%',#{param.keyword},'%')
                )
            </if>
        </where>
    </select>

    <select id="selectListByUserId" resultType="org.chdzq.system.repository.po.SystemRoleDO">
        SELECT
            r.id,
            r.name,
            r.code,
            r.sort,
            r.status,
            r.created_time
        FROM
        sys_role r
        JOIN sys_user_role ur
        ON r.id = ur.role_id
        <where>
            r.deleted = 0
            <if test="userId != null">
                AND ur.user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>