<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chdzq.system.repository.dao.SystemDictionaryItemMapper">

    <sql id="ColumnSQL">
        item.id,
        item.dictionary_id,
        item.key,
        item.value,
        item.sort,
        item.status,
        item.remark,
        item.deleted,
        item.created_time,
        item.updated_time,
        item.created_by,
        item.updated_by
    </sql>


    <select id="queryPageList" resultType="org.chdzq.system.repository.po.SystemDictionaryItemDO">
        SELECT
            <include refid="ColumnSQL" />
        FROM sys_dictionary dict
        JOIN sys_dictionary_item item
        ON dict.id = item.dictionary_id
        <where>
            dict.deleted = 0
            <if test="param.dictionaryId != null">
                AND dict.id = #{param.dictionaryId}
            </if>
            <if test="param.status != null">
                AND dict.status = #{param.status.code}
            </if>
            <if test="param.keyword != null and param.keyword.trim() neq '' ">
                AND (
                    item.key LIKE CONCAT('%',#{param.keyword},'%')
                    OR item.value LIKE CONCAT('%',#{param.keyword},'%')
                )
            </if>
        </where>

        ORDER BY item.sort ASC, item.created_time DESC;

    </select>

</mapper>