<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chdzq.system.repository.dao.SystemUserMapper">
    <!-- 用户认证信息映射 -->
    <resultMap id="UserAuthMap" type="org.chdzq.system.entity.AuthInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username"/>
        <result property="password" column="password" />
        <result property="status" column="status"/>
        <result property="nickname" column="nickname"/>
        <result property="mobile" column="mobile" />
        <result property="email" column="email" />
        <result property="avatar" column="avatar"/>
        <result property="gender" column="gender" />
        <collection property="roles"
                    ofType="string"
                    javaType="java.util.Set"
                    columnPrefix="role_">
                    <result column="code"/>
        </collection>
    </resultMap>

    <!-- 根据用户名获取认证信息 -->
    <select id="selectUserAuthInfo" resultMap="UserAuthMap">
        SELECT
            t1.id,
            t1.username,
            t1.nickname,
            t1.password,
            t1.status,
            t1.dept_id,
            t1.avatar,
            t1.mobile,
            t1.email,
            t1.gender,
            t3.code as role_code,
            t3.id as role_id,
            t3.name as role_name,
            t3.status as role_status,
            t3.sort as role_sort,
            t3.data_scope as role_data_scope
        FROM sys_user t1
            LEFT JOIN sys_user_role t2
                ON t2.user_id = t1.id
            LEFT JOIN sys_role t3
                ON t3.id = t2.role_id
                AND t3.status = 1
        WHERE
            t1.username = #{username}

    </select>

    <select id="queryPageList" resultType="org.chdzq.system.repository.po.SystemUserDO">
        SELECT
        u.id,
        u.username,
        u.nickname,
        u.mobile,
        u.email,
        u.gender,
        u.avatar,
        u.status,
        u.dept_id,
        u.created_time
        FROM
        sys_user u
        LEFT JOIN sys_user_role sur ON u.id = sur.user_id
        LEFT JOIN sys_role r ON sur.role_id = r.id and r.deleted = 0
        <where>
            u.username != '${@org.chdzq.common.core.constants.SystemConstant@DEFAULT_ADMIN_USER_NAME}'

            <if test='param.status!=null'>
                AND u.status = #{param.status}
            </if>

            <if test='param.startTime!=null'>
                AND u.created_time <![CDATA[>]]> #{param.startTime}
            </if>

            <if test='param.startTime!=null'>
                AND u.created_time <![CDATA[<]]> #{param.endTime}
            </if>

            <if test='param.keyword!=null and param.keyword.trim() neq ""'>
                AND (
                u.username LIKE CONCAT('%',#{param.keyword},'%')
                OR u.nickname LIKE CONCAT('%',#{param.keyword},'%')
                OR u.mobile LIKE CONCAT('%',#{param.keyword},'%')
                )
            </if>
        </where>
    </select>
</mapper>
